// Device information
const char* HOSTNAME = "";
const char* BATTERY_ID = "";
const char* BATTERY_NAME = "";

//API
const char* API_URL_HEARTBEAT = "";
const char* API_URL_MEASUREMENT = "";

//WIFI
const char* WIFI_SSID = "";
const char* WIFI_PASSWORD = "";

//OTA
int OTA_PORT = 8266;
const char* OTA_NAME = "";
const char* OTA_PASSWORD = ""; 

// Hardware setup
const int VOLTAGE_INPUT_PIN = A0;
const int LED_PIN = D5;

// Voltage of battery at 20%
// For Warning-LED
const int WARNING_VOLTAGE = 11.66;

// Time Config
const int HEARTBEAT_FREQUENCY_MINUTES = 30; // Frequency of heartbeats sent to API
const int FIRST_RUN_THRESHOLD_MINUTES = 2; // Threshold after power on to initiate first measurement (without post to API)
const int LOG_INTERVAL_HOURS = 1; // Hours between measurements