<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32197536810-2oeuflp660egq9ro080um12dn64hkuoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32197536810-2oeuflp660egq9ro080um12dn64hkuoi</string>
	<key>API_KEY</key>
	<string>AIzaSyBErsaqgtt9lgxi4ezMDv9Rr2tt8mV_xek</string>
	<key>GCM_SENDER_ID</key>
	<string>32197536810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.kostecki.batterystatus</string>
	<key>PROJECT_ID</key>
	<string>battery-status-f900d</string>
	<key>STORAGE_BUCKET</key>
	<string>battery-status-f900d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32197536810:ios:cb6277834b2434339b2753</string>
	<key>DATABASE_URL</key>
	<string>https://battery-status-f900d.firebaseio.com</string>
</dict>
</plist>